@implements IDisposable

@inject TorontoOnlineServerStore TorontoOnlineServerStore


<div class="col">
	<div class="card @(selectedCity.Equals(city, StringComparison.OrdinalIgnoreCase) ? "border-primary" : "")">
		<img src="@($"/images/{city}.png")" class="card-img-top" alt="...">
		<div class="card-body">
			<button typr="button" class="btn btn-primary" @onclick="@(() => { SelectCity(city); })">@city</button>
		</div>
		<div>

			@switch (city)
			{
				case "Toronto":
					<text>@numberServerOnlineToronto</text>
					break;
				default:
					break;
			}

		</div>
	</div>
</div>

@code {
	private int numberServerOnlineToronto;
	[Parameter]
	public string selectedCity { get; set; } = "Toronto";
	[Parameter]
	public string city { get; set; } = "";
	[Parameter]
	public EventCallback<string> SelectCityCallBack { get; set; }

	private void SelectCity(string cityName)
	{
		SelectCityCallBack.InvokeAsync(cityName);
	}

	protected override bool ShouldRender()
	{
		var guid = Guid.NewGuid();
		Console.WriteLine($"{this.GetType().Name}: {nameof(ShouldRender)} : {guid}");
		return base.ShouldRender();
	}

	protected override Task OnParametersSetAsync()
	{
		var guid = Guid.NewGuid();
		Console.WriteLine($"{this.GetType().Name}: {nameof(OnParametersSetAsync)} : {guid}");
		return base.OnParametersSetAsync();
	}

	protected override void OnParametersSet()
	{
		base.OnParametersSet();
		var guid = Guid.NewGuid();
		Console.WriteLine($"{this.GetType().Name}: {nameof(OnParametersSet)} : {guid}");
	}

	protected override void OnAfterRender(bool firstRender)
	{
		if (firstRender)
		{
			numberServerOnlineToronto = TorontoOnlineServerStore.GetNumberServerOnline();
			TorontoOnlineServerStore.AddStateChangeListeners(OnTorontoServersStatusChange);
			StateHasChanged();
		}
	}

	private void OnTorontoServersStatusChange()
	{
		numberServerOnlineToronto = TorontoOnlineServerStore.GetNumberServerOnline();
		StateHasChanged();
	}

	public void Dispose()
	{
		@switch (city)
		{
			case "Toronto":
				TorontoOnlineServerStore.RemoveStateChangeListeners(OnTorontoServersStatusChange);
				break;
			default:
				break;
		}
		
	}

}
